#sideimg  ul {
	list-style-type: none; 
	padding:20px;
}


#sideimg  ul  li a{
	
	display: inline;
	padding:60px;
}


#sideimg a {
	text-decoration: none;
}
/*
#sideimg {
	text-align: center;
}
*/

h3{
	color: #FF9900;
}


b1 {
color: #008000;

}